@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    animation: colorCycle 10s infinite;
    user-select: none;
}

#background-container{
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.589),black);
}

.heading{
    position: relative;
    height: 70px;
    line-height: 70px;
    color: white;
    width: 100%;
    user-select: none;
}

h1{
    display: inline;
    margin: 0px;
}

.rightal{
    float: right;
    margin: 0 30px 0 0;
}

.leftal{
    float: left;
    margin: 0 0 0 30px;
}

#options-container{
    position: absolute;
    background: black;
    width: 200px;
    color: white;
    overflow: hidden;
    transition: all 400ms ease-in-out;
}

#options-container ul{
    list-style: none;
    padding: 40% 0px 0px 0px;
}

#options-container ul li{
    text-align: center;
    display: block;
    width: 150px;
    line-height: 50px;
    list-style: none;
    margin: 10px 0px 0px 20px;
    font-size: 20px;
}

#options-container ul li:hover{
    background: rgba(49, 47, 47, 0.767);
    box-shadow: 0px 5px 10px rgba(49, 47, 47, 0.767);
}

select{
    font-size: 20px;
    text-align: center;
    background: transparent;
    color: white;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

option{
    background-color: black;
}

#range-selector{
    width: 140px;
    direction: rtl;
}

#rangebox{
    height: 80px;
}

.text-button{
    position: absolute;
    color: white;
    background-clip: text;
    position: relative;
    transition: all 40ms linear;
}

canvas{
    display: block;
}

@keyframes colorCycle {
    0%{background: white}
    25%{background: rgb(248, 66, 96)}
    50%{background: rgb(47, 28, 224)}
    75%{background: rgb(38, 241, 181)}
    100%{background: white}
}